 <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.1.0" />

        <name>Phongape test sample</name>

        <description>
        An example for phonegap build docs. 
        </description>

        <author href="http://yoursite.com" email="you@youremail.com">
        Your Name
        </author>
	
	<!--icon set -->

<icon src="icons/ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="icons/mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/hdpi.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

<!-- splash screen-->

<gap:splash src="splash/ldpi.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash/mdpi.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/hdpi.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    </widget>